# 1.4 GROUPED AND AGGREGATED CALCULATIONS

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/gapminder.tsv', sep='\t')

In [4]:
print(df.head(n=10))

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

There are several initial questions that we can ask ourselves:


1. For each year in our data, what was the average life expectancy? What is the average life expectancy, population, and GDP?

2. What if we stratify the data by continent and perform the same calculations?

3. How many countries are listed in each continent?

1.4.1 Grouped Means

To answer the questions just posed, we need to perform a grouped (i.e., aggregate) calculation. In other words, we need to perform a calculation, be it an average or a frequency count, but apply it to each subset of a variable. Another way to think about grouped calculations is as a split–apply–combine process. We first split our data into various parts, then apply a function (or calculation) of our choosing to each of the split parts, and finally combine all the individual split calculations into a single dataframe. We accomplish grouped/aggregate computations by using the groupby method on dataframes.

In [8]:
# For each year in our data, what was the average life expectancy?

# To answer this question,

# we need to split our data into parts by year;

# then we get the 'lifeExp' column and calculate the mean

print(df.groupby('year')['lifeExp'].mean())

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

Let’s unpack the statement we used in this example. We first create a grouped object. Notice that if we printed the grouped dataframe, Pandas would return only the memory location.

In [9]:
grouped_year_df = df.groupby('year')

print(type(grouped_year_df))

<class 'pandas.core.groupby.DataFrameGroupBy'>

From the grouped data, we can subset the columns of interest on which we want to perform our calculations. To our question, we need the lifeExp column. We can use the subsetting methods described in Section 1.3.1.1.

In [10]:
grouped_year_df_lifeExp = grouped_year_df['lifeExp']

print(type(grouped_year_df_lifeExp))

<class 'pandas.core.groupby.SeriesGroupBy'>

Notice that we now are given a series (because we asked for only one column) in which the contents of the series are grouped (in our example by year).

Finally, we know the lifeExp column is of type float64. An operation we can perform on a vector of numbers is to calculate the mean to get our final desired result.

In [11]:
mean_lifeExp_by_year = grouped_year_df_lifeExp.mean()

print(mean_lifeExp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

We can perform a similar set of calculations for the population and GDP since they are of types int64 and float64, respectively. But what if we want to group and stratify the data by more than one variable? And what if we want to perform the same calculation on multiple columns? We can build on the material earlier in this chapter by using a list!

In [15]:
# the backslash allows us to break up 1 long line of Python code
# into multiple lines
# df.groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']].mean()
# is the same as the following code

multi_group_var = df.\
    groupby(['year', 'continent'])\
    [['lifeExp', 'gdpPercap']].\
    mean()

print(multi_group_var)

                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650
1957 Africa     41.266346   1385.236062
     Americas   55.960280   4616.043733
     Asia       49.318544   5787.732940
     Europe     66.703067   6963.012816
     Oceania    70.295000  11598.522455
1962 Africa     43.319442   1598.078825
     Americas   58.398760   4901.541870
     Asia       51.563223   5729.369625
     Europe     68.539233   8365.486814
     Oceania    71.085000  12696.452430
1967 Africa     45.334538   2050.363801
     Americas   60.410920   5668.253496
     Asia       54.663640   5971.173374
     Europe     69.737600  10143.823757
     Oceania    71.310000  14495.021790
1972 Africa     47.450942   2339.615674
     Americas   62.394920   6491.334139
     Asia       57.319269   8187.468699
     Europe     70.775033  12479.575246
     Oceania    71.910000  16417.333380
1977 Africa     49.580423   2585.938508
     Americas   64.391560   7352.007126
     Asia       59.610556   7791.314020
     Europe     71.937767  14283.979110
     Oceania    72.855000  17283.957605
1982 Africa     51.592865   2481.592960
     Americas   66.228840   7506.737088
     Asia       62.617939   7434.135157
     Europe     72.806400  15617.896551
     Oceania    74.290000  18554.709840
1987 Africa     53.344788   2282.668991
     Americas   68.090720   7793.400261
     Asia       64.851182   7608.226508
     Europe     73.642167  17214.310727
     Oceania    75.320000  20448.040160
1992 Africa     53.629577   2281.810333
     Americas   69.568360   8044.934406
     Asia       66.537212   8639.690248
     Europe     74.440100  17061.568084
     Oceania    76.945000  20894.045885
1997 Africa     53.598269   2378.759555
     Americas   71.150480   8889.300863
     Asia       68.020515   9834.093295
     Europe     75.505167  19076.781802
     Oceania    78.190000  24024.175170
2002 Africa     53.325231   2599.385159
     Americas   72.422040   9287.677107
     Asia       69.233879  10174.090397
     Europe     76.700600  21711.732422
     Oceania    79.740000  26938.778040
2007 Africa     54.806038   3089.032605
     Americas   73.608120  11003.031625
     Asia       70.728485  12473.026870
     Europe     77.648600  25054.481636
     Oceania    80.719500  29810.188275

The output data is grouped by year and continent. For each year–continent pair, we calculated the average life expectancy and average GDP. The data is also printed out a little differently. Notice the year and continent “column names” are not on the same line as the life expectancy and GPD “column names.” There is some hierarchal structure between the year and continent row indices. We’ll discuss working with these types of data in more detail in Chapter 10.

If you need to “flatten” the dataframe, you can use the reset_index method.

In [16]:
flat = multi_group_var.reset_index()

print(flat.head(15))

    year continent    lifeExp     gdpPercap
0   1952    Africa  39.135500   1252.572466
1   1952  Americas  53.279840   4079.062552
2   1952      Asia  46.314394   5195.484004
3   1952    Europe  64.408500   5661.057435
4   1952   Oceania  69.255000  10298.085650
5   1957    Africa  41.266346   1385.236062
6   1957  Americas  55.960280   4616.043733
7   1957      Asia  49.318544   5787.732940
8   1957    Europe  66.703067   6963.012816
9   1957   Oceania  70.295000  11598.522455
10  1962    Africa  43.319442   1598.078825
11  1962  Americas  58.398760   4901.541870
12  1962      Asia  51.563223   5729.369625
13  1962    Europe  68.539233   8365.486814
14  1962   Oceania  71.085000  12696.452430

In [20]:
print(df.head(n=100))

        country continent  year  lifeExp       pop     gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333    779.445314
1   Afghanistan      Asia  1957   30.332   9240934    820.853030
2   Afghanistan      Asia  1962   31.997  10267083    853.100710
3   Afghanistan      Asia  1967   34.020  11537966    836.197138
4   Afghanistan      Asia  1972   36.088  13079460    739.981106
5   Afghanistan      Asia  1977   38.438  14880372    786.113360
6   Afghanistan      Asia  1982   39.854  12881816    978.011439
7   Afghanistan      Asia  1987   40.822  13867957    852.395945
8   Afghanistan      Asia  1992   41.674  16317921    649.341395
9   Afghanistan      Asia  1997   41.763  22227415    635.341351
10  Afghanistan      Asia  2002   42.129  25268405    726.734055
11  Afghanistan      Asia  2007   43.828  31889923    974.580338
12      Albania    Europe  1952   55.230   1282697   1601.056136
13      Albania    Europe  1957   59.280   1476505   1942.284244
14      Albania    Europe  1962   64.820   1728137   2312.888958
15      Albania    Europe  1967   66.220   1984060   2760.196931
16      Albania    Europe  1972   67.690   2263554   3313.422188
17      Albania    Europe  1977   68.930   2509048   3533.003910
18      Albania    Europe  1982   70.420   2780097   3630.880722
19      Albania    Europe  1987   72.000   3075321   3738.932735
20      Albania    Europe  1992   71.581   3326498   2497.437901
21      Albania    Europe  1997   72.950   3428038   3193.054604
22      Albania    Europe  2002   75.651   3508512   4604.211737
23      Albania    Europe  2007   76.423   3600523   5937.029526
24      Algeria    Africa  1952   43.077   9279525   2449.008185
25      Algeria    Africa  1957   45.685  10270856   3013.976023
26      Algeria    Africa  1962   48.303  11000948   2550.816880
27      Algeria    Africa  1967   51.407  12760499   3246.991771
28      Algeria    Africa  1972   54.518  14760787   4182.663766
29      Algeria    Africa  1977   58.014  17152804   4910.416756
..          ...       ...   ...      ...       ...           ...
70    Australia   Oceania  2002   80.370  19546792  30687.754730
71    Australia   Oceania  2007   81.235  20434176  34435.367440
72      Austria    Europe  1952   66.800   6927772   6137.076492
73      Austria    Europe  1957   67.480   6965860   8842.598030
74      Austria    Europe  1962   69.540   7129864  10750.721110
75      Austria    Europe  1967   70.140   7376998  12834.602400
76      Austria    Europe  1972   70.630   7544201  16661.625600
77      Austria    Europe  1977   72.170   7568430  19749.422300
78      Austria    Europe  1982   73.180   7574613  21597.083620
79      Austria    Europe  1987   74.940   7578903  23687.826070
80      Austria    Europe  1992   76.040   7914969  27042.018680
81      Austria    Europe  1997   77.510   8069876  29095.920660
82      Austria    Europe  2002   78.980   8148312  32417.607690
83      Austria    Europe  2007   79.829   8199783  36126.492700
84      Bahrain      Asia  1952   50.939    120447   9867.084765
85      Bahrain      Asia  1957   53.832    138655  11635.799450
86      Bahrain      Asia  1962   56.923    171863  12753.275140
87      Bahrain      Asia  1967   59.923    202182  14804.672700
88      Bahrain      Asia  1972   63.300    230800  18268.658390
89      Bahrain      Asia  1977   65.593    297410  19340.101960
90      Bahrain      Asia  1982   69.052    377967  19211.147310
91      Bahrain      Asia  1987   70.750    454612  18524.024060
92      Bahrain      Asia  1992   72.601    529491  19035.579170
93      Bahrain      Asia  1997   73.925    598561  20292.016790
94      Bahrain      Asia  2002   74.795    656397  23403.559270
95      Bahrain      Asia  2007   75.635    708573  29796.048340
96   Bangladesh      Asia  1952   37.484  46886859    684.244172
97   Bangladesh      Asia  1957   39.348  51365468    661.637458
98   Bangladesh      Asia  1962   41.216  56839289    686.341554
99   Bangladesh      Asia  1967   43.453  62821884    721.186086

[100 rows x 6 columns]

1.4.2 Grouped Frequency Counts

Another common data-related task is to calculate frequencies. We can use the nunique and value_counts methods, respectively, to get counts of unique values and frequency counts on a Pandas Series.

In [21]:
# use the nunique (number unique)
# to calculate the number of unique values in a series

print(df.groupby('continent')['country'].nunique())

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64

Question

What do you get if you use value_counts instead of nunique?

In [22]:
print(df.groupby('continent')['country'].value_counts

SyntaxError: unexpected EOF while parsing (<ipython-input-22-f82acc2bf3c5>, line 1)